flows.json
[{"id":"5372ed4a.44ad64","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9a702bd3.fe5a78","type":"image","z":"5372ed4a.44ad64","name":"","width":"320","x":700,"y":180,"wires":[]},{"id":"a9bbd12f.1dc67","type":"multipart-decoder","z":"5372ed4a.44ad64","name":"","ret":"bin","url":"http://192.168.0.102","tls":"","delay":"0","maximum":"10000000","blockSize":1,"x":350,"y":100,"wires":[["e0457034.2b166","52b833b7.7eef5c"]]},{"id":"e0457034.2b166","type":"base64","z":"5372ed4a.44ad64","name":"","action":"str","property":"payload","x":460,"y":180,"wires":[["9a702bd3.fe5a78","571e7a20.89c824"]]},{"id":"fa732c40.f7dcd","type":"http request","z":"5372ed4a.44ad64","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://192.168.137.1:8080/captura/","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":320,"wires":[["c171bae5.980188"]]},{"id":"a8dce600.19dfd8","type":"json","z":"5372ed4a.44ad64","name":"","property":"payload","action":"","pretty":false,"x":150,"y":320,"wires":[["ea3e5880.d20728","fa732c40.f7dcd"]]},{"id":"ea3e5880.d20728","type":"debug","z":"5372ed4a.44ad64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":460,"wires":[]},{"id":"571e7a20.89c824","type":"function","z":"5372ed4a.44ad64","name":"","func":"msg.payload = {\n   \"messages\": [\n      { \n         \"image\": msg.payload,\n         \"latitude\": \"-23.9896275\",\n         \"longitude\": \"-46.3031067\"\n        }\n    ]\n}\n\nmsg.headers = {};\nmsg.headers['Content-type'] = 'application/json';\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":190,"y":240,"wires":[["a8dce600.19dfd8"]]},{"id":"d2e0e9e.c8aa118","type":"inject","z":"5372ed4a.44ad64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["a9bbd12f.1dc67"]]},{"id":"52b833b7.7eef5c","type":"debug","z":"5372ed4a.44ad64","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":60,"wires":[]},{"id":"37d46c29.a26c84","type":"http request","z":"5372ed4a.44ad64","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://177.67.49.218/powerai-vision-ingram/api/dlapis/931bbb6c-d066-4d3a-ac17-193a8c9f7e0c","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":600,"wires":[[]]},{"id":"c171bae5.980188","type":"debug","z":"5372ed4a.44ad64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":420,"wires":[]},{"id":"c65a63ba.19153","type":"function","z":"5372ed4a.44ad64","name":"","func":"\nmsg.headers = {};\n\nmsg.headers['Content-Type'] = 'image/jpeg ; boundary=----WebKitFormBoundaryDeC2E3iWbTv1PwMC';\n\nmsg.headers['Content-Disposition'] = 'form-data; name=\"file\"; filename=\"x.jpg\"';\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":560,"wires":[[]]}]